{{- with (index $.Site.Data.packages .Params.id) }}
<h2>History</h2>
<table>
  <tr>
    <th>Effective Date</th>
    <th>Table ID</th>
    <th>Version</th>
    <th>Download URL</th>
    <th>Project URL</th>
    <th>Version URL</th>
  </tr>
  {{- range .history }}
  <tr>
    <td>{{- .table_release_date }}</td>
    <td>{{- .table_id           }}</td>
    <td>{{- .version            }}</td>
    <td>{{- with .download_url }}<a {{ printf "href=%q" . | safeHTMLAttr }}>download</a>{{- end }}</td>
    <td>{{- with .project_url }}<a {{ printf "href=%q" . | safeHTMLAttr }}>project</a>{{- end }}</td>
    <td>{{- with .version_url }}<a {{ printf "href=%q" . | safeHTMLAttr }}>version</a>{{- end }}</td>
  </tr>
  {{- end }}
</table>
{{- end }}
