{{- if or (isset .Params "technology area") (isset .Params "originating project") (isset .Params "license") -}}
<div class="package-attributes">
  {{ $page := . }}
  {{- range $taxonomy_term, $taxonomy := $.Site.Taxonomies }}
    {{- range ($page.GetTerms $taxonomy_term) }}
      <div class="taxonomy">
        {{ with $.Site.GetPage (printf "/%s" $taxonomy_term) }}
          <a href="{{ .Permalink}}">{{ $taxonomy_term }}</a>
        {{- end}}
        <i class="fa fa-chevron-right"></i>
        <a href='{{ .Permalink}}'> {{ .Title }}</a><nbsp>
      </div>
    {{- end }}
  {{- end }}
</div>
{{- end -}}
