{{ $.Scratch.Set "id" 1 }}
{{ $.Scratch.Set "headingnames" (slice "number" "packagename" "version" "download_url" "project_url" "version_url" "description") }}
{{ $.Scratch.Set "headings" (dict "number" "No." "packagename" "Package Name" "version" "Version" "download_url" "Proj Download URL" "project_url" "Project URL" "version_url" "PkgVer Download Link" "description" "Description") }}

<p class="package-count">
  {{ sub (len (where .Site.Pages "Section" "packages")) 1 }} packages.
  &nbsp;List of Packages as Effective {{dateFormat "January 2, 2006" (index $.Site.Data.releases "11")}}
</p>

{{ $list := slice }}
{{ range where (where .Site.Pages "Section" "packages") "Kind" "page" }}
  {{ $titleLower := lower .Title }}
  {{ $list = $list | append (dict "titleLower" $titleLower "page" . ) }}
{{ end }}


<table class="package-table">
    <tr>
      {{ range $.Scratch.Get "headingnames" }}
        <th class="{{ . }}">
          {{ index ($.Scratch.Get "headings") . }}
        </th>
      {{ end}}
    </tr>
  {{ range sort $list ".titleLower"}}
    <tr>
      {{ with $pkg := . }}
        {{ range $name := $.Scratch.Get "headingnames" }}
          <td>
          {{ if eq $name "number" }}
            {{ ($.Scratch.Get "id") }}
          {{ else if eq $name "packagename" }}
            <a href="{{ $pkg.page.Permalink }}"> {{ $pkg.page.Params.Title }} </a>
          {{ else if in $name "url" }}
            <a href="{{ $pkg.page.Param $name }}">{{ $pkg.page.Param $name }} </a>
          {{ else }}
            {{ $pkg.page.Param $name }}
          {{ end}}
          </td>
        {{ end }}
    {{ end }}
    </tr>
    {{ $.Scratch.Add "id" 1 }}
  {{ end }}
</table>

